@import "tailwindcss";

@import "./utility.css";

@import "./textstyles.css";

@import "./colors.css";

@theme {
    /*
     * breakpoints
     */
    --breakpoint-tablet: 48rem; /* 768px for 16px font-size */
    --breakpoint-desktop: 64rem; /* 1024px for 16px font-size*/
}

:root {
    --size-default: calc(10 * var(--spacing));
}

@layer components {
    body {
        background: var(--background);
        color: var(--foreground);
        font-family: Arial, Helvetica, sans-serif;
    }

    *:focus {
        @apply border-primary;
    }

    *:disabled {
        @apply text-disabled bg-disabled-background cursor-not-allowed placeholder-disabled;
    }

    button, input, select, textarea {
        @apply flex-row-1 items-center justify-center transition px-4 py-2 h-[var(--size-default)] max-h-[var(--size-default)] whitespace-nowrap rounded border-2 placeholder-description;
    }

    button {
        @apply bg-primary text-on-primary border-primary font-semibold not-disabled:cursor-pointer;
    }

    input, select, textarea {
        @apply bg-input border-input text-foreground hover:not-disabled:border-primary outline-none;
    }

    button, select  {
        @apply hover:not-disabled:brightness-90 dark:hover:not-disabled:brightness-110;
    }

    .icon-button {
        @apply flex-row-0 items-center justify-center px-2 py-2 min-h-[var(--size-default)] max-h-[var(--size-default)] min-w-[var(--size-default)] max-w-[var(--size-default)];
    }

    a {
        @apply text-primary title-sm hover:font-bold hover:underline decoration-3;
    }

    header {
        @apply sticky top-0 left-0 bg-surface shadow-md z-100 h-16 max-h-16 py-4 px-4 tablet:px-10 desktop:px-18;
    }

    main {
        @apply flex flex-col items-center w-full py-16 px-4 tablet:px-10 desktop:px-18;
    }

    .card {
        @apply flex-col-4 bg-surface p-3 tablet:p-5 desktop:p-6 rounded-lg
    }
}
